.App {
    text-align: center;
}

.animal-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    display: inline-block;
    text-align: center;
}

.progress-bar-container {
    margin: 20px;
    border: 1px solid #ccc;
    height: 30px;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: green;
}

.labels span {
    margin: 0 5px;
}

.labels .active {
    color: green;
}

reset{
    background-color: green
}